/********************************/
/* BELOW 1344px */
/********************************/
/** 1rem = 1em = 16px **/
@media (max-width: 84em) {
 
}

@media (max-width: 45em) {
  .header {
    background-color: #fdf2e9;
  }
  .logo {
    background-color: white;
  }
  .hero-img {
    width: 100%;
  }
}